<ion-tabs>
 
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="characters">
      <ion-label>Characters</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="episodes">
      <ion-label>Episodes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="charactersForQuotes">
      <ion-label>Quotes</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="charactersForDeathCount">
      <ion-label>DeathCount</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deaths">
      <ion-label>Deaths</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>

